{% extends 'webapp/base.html' %}
{% block mainbody %}

    <header>
        <div class="row">
            <div class="col-sm-9">
                <h2>{{ film.title | safe }}</h2>
            </div>
            {% if user.is_authenticated %}
                <div class="col-xs-1">
                    <a class="btn btn-outline-secondary" href="{% url 'film_update' film.pk %}">edit</a>
                </div>
                <div class="col-xs-1">
                    &nbsp;<a class="btn btn-outline-warning" href="{% url 'film_delete' film.pk %}">delete</a>
                </div>
            {% endif %}
            <div class="col-xs-1">
                &nbsp;<a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">back</a>
            </div>
        </div>
    </header>

    <br>
    <article>
        {% if film.title %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Title</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ film.title }}</p>
                </div>
            </div>
        {% endif %}

        {% if film.film_id %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Film ID</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ film.film_id }}</p>
                </div>
            </div>
        {% endif %}

        {% if film.description %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Description</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ film.description }}</p>
                </div>
            </div>
        {% endif %}

        {% if film.attributes %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Attributes</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ film.attributes }}</p>
                </div>
            </div>
        {% endif %}

        {% if film.date_created %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Date Created</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ film.date_created }}</p>
                </div>
            </div>
        {% endif %}

        {% if film.date_modified %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Date Modified</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ film.date_modified }}</p>
                </div>
            </div>
        {% endif %}

        {% if film.characters %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Sentient Being</p>
                </div>
                <div class="col-sm-10">
                    {% for sentient_being in film.characters.all %}
                        <li>{{ sentient_being.name }}</li>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if film.planets %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Planets</p>
                </div>
                <div class="col-sm-10">
                    {% for planet in film.planets.all %}
                        <li>{{ planet.name }}</li>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </article>
    <br>

{% endblock mainbody %}