{% extends 'webapp/base.html' %}
{% block mainbody %}

    <header>
        <div class="row">
            <div class="col-sm-9">

            </div>
            {% if user.is_authenticated %}
                <div class="col-xs-1">
                    <a class="btn btn-outline-secondary" href="{% url 'language_update' languages.pk %}">edit</a>
                </div>
                <div class="col-xs-1">
                    &nbsp;<a class="btn btn-outline-warning" href="{% url 'language_delete' languagess.pk %}">delete</a>
                </div>
            {% endif %}
            <div class="col-xs-1">
                &nbsp;<a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">back</a>
            </div>
        </div>
    </header>

    <br>
    <article>
        {% if languages.name %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Language Name</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ languages.name }}</p>
                </div>
            </div>
        {% endif %}

        {% if languages.description %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Description</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ languages.description }}</p>
                </div>
            </div>
        {% endif %}

        {% if languages.attributes %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Attributes</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ languages.attributes }}</p>
                </div>
            </div>
        {% endif %}

        {% if languages.date_created %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Date Created</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ languages.date_created }}</p>
                </div>
            </div>
        {% endif %}

        {% if languages.date_modified %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Date Modified</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ languages.date_modified }}</p>
                </div>
            </div>
        {% endif %}
    </article>
    <br>

{% endblock mainbody %}