{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block mainbody %}

  <header>
    <div class="row">
      <div class="col-sm-11">
        <h2>New Species</h2>
      </div>
      <div class="col-xs-1">
        <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">back</a>
      </div>
    </div>
  </header>

  <br>

  <!-- novalidate attribute required to render validation messages -->
  <form method="post" novalidate>
		{% csrf_token %}

		<div class="row">
			<div class="col-3">
				{{ form.name|as_crispy_field }}
			</div>
			<div class="col-3">
				{{ form.classification|as_crispy_field }}
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				{{ form.designation|as_crispy_field }}
			</div>
			<div class="col-3">
				{{ form.average_height|as_crispy_field }}
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				{{ form.skin_colors|as_crispy_field }}
			</div>
			<div class="col-3">
				{{ form.hair_colors|as_crispy_field }}
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				{{ form.eye_colors|as_crispy_field }}
			</div>
			<div class="col-3">
				{{ form.average_lifespan|as_crispy_field }}
			</div>
		</div>

		<div class="row">
			<div class="col-3">
				{{ form.language|as_crispy_field }}
			</div>
			<div class="col-3">
				{{ form.home_world|as_crispy_field }}
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				{{ form.characters|as_crispy_field }}
			</div>
		</div>

    <button type="submit" class="btn btn-outline-success">Update</button>
    &nbsp;<a class="btn btn-outline-secondary" href="{% url 'species_detail' species.pk %}">cancel</a>
  </form>

  <br>

{% endblock mainbody %}