{% extends 'webapp/base.html' %}
{% block mainbody %}

    <header>
        <div class="row">
            <div class="col-sm-9">
                <h2>{{ vehicles.name | safe }}</h2>
            </div>
            {% if user.is_authenticated %}
                <div class="col-xs-1">
                    <a class="btn btn-outline-secondary" href="{% url 'vehicle_update' vehicles.pk %}">edit</a>
                </div>
                <div class="col-xs-1">
                    &nbsp;<a class="btn btn-outline-warning" href="{% url 'vehicle_delete' vehicles.pk %}">delete</a>
                </div>
            {% endif %}
            <div class="col-xs-1">
                &nbsp;<a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">back</a>
            </div>
        </div>
    </header>

    <br>
    <article>
        {% if vehicles.name %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Name</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.name }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.model %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Model</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.model }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.description %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Description</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.description }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.attributes %}
            <div class="row">
                <div class="col-sm-2">
                    <p>attributes</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.attributes }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.date_created %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Date Created</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.date_created }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.date_modified %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Date Modified</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.date_modified }} </p>
                </div>
            </div>
        {% endif %}

    </article>
    <br>

{% endblock mainbody %}

